# Angular specific
/front-end/dist/
/front-end/out-tsc/
/front-end/tmp/
/front-end/coverage/
/front-end/e2e/test-output/
/front-end/.angular/
/front-end/.angular/

# Node modules and dependency files
/front-end/node_modules/
/front-end/package-lock.json

# Environment files
/front-end/.env

# Angular CLI and build artefacts
/front-end/.angular-cli.json
/front-end/.ng/

# TypeScript cache
/front-end/*.tsbuildinfo

# Logs
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

#Micellaneous
.DS_Store